<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Login</title>
    <link rel="icon" href="assets/favicon_io/favicon-32x32.png" sizes="32x32" type="image/png">
    <!-- Fix here -->
    <!-- Fix here -->
    <link rel="icon" href="assets/favicon_io/favicon-16x16.png" sizes="16x16" type="image/png">
    <!-- Fix here -->
    <!-- Fix here -->
    <link rel="apple-touch-icon" href="assets/favicon_io/apple-touch-icon.png" sizes="32x32" type="image/png">
    <!-- Fix here -->
    <!-- Fix here -->
</head>

<body>
    <header class="header">
        <a href="https://ad-system-lp.onrender.com/">
            <img class="logo1" src="/assets/general/logo-adsystem.svg" alt="Logo da Adsystem" id="logo--landing">
        </a>
    </header>

    <main>
        <section class="main-section">
            <div class="base-form">
                <form action="">
                    <label for="email">Login (email)</label>
                    <input type="email" id="email" required>

                    <label for="password">Senha (mínimo 8 caracteres)</label>
                    <input type="password" id="password" required>

                    <div class="button">
                        <button onclick="auth.Login()" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-image">
            <img id="logo-footer" src="/assets/general/logo-adsystem.svg" alt="logo Adsystem">
        </div>
        <div class="footer-media">
            <img src="/assets/icon-twitter.svg" alt="Logo do Twitter">
            <img src="/assets/icon-instagram.svg" alt="Logo do Instagram">
        </div>
    </footer>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const auth = {

        Login() {
            email = document.querySelector('#email').value
            password = document.querySelector('#password').value
            axios.post('auth/login', {email, password}, {
                headers: {
                    'Content-Type': 'application/json',
                }
            })
        },
    }

</script>

</html>