main {
  height: 100%;
}

.constructions {
  background-color: #000000ba;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

.constructions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: auto 0;

  position: relative;
}

.constructions__text {
  color: white;
  font-size: 24px;

  text-align: center;

  margin: 1em 0 2em;

  line-height: 35px;
}

.constructions__button {
  border: none;
  border-radius: 32px;

  width: 225px;
  height: 50px;

  font-size: 24px;
  font-weight: bold;

  cursor: pointer;
}

.constructions__button:hover {
  background-color: rgba(255, 255, 255, 0.7);

  box-shadow: 0 0 10px black;
}

.constructions__button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
