<!-- @Author: João Portela
 Last-update: 14/09/2022 by João Portela
 File description: consruction HTML
-->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Em construção</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/construction_styles/reset.css">
    <link rel="stylesheet" href="styles/construction_styles/header.css">
    <link rel="stylesheet" href="styles/construction_styles/btnMenu.css">
    <link rel="stylesheet" href="styles/construction_styles/main.css">
    <link rel="stylesheet" href="styles/construction_styles/footer.css">
    <link rel="icon" href="assets/favicon_io/favicon-32x32.png" sizes="32x32" type="image/png">
    <!-- Fix here -->
    <!-- Fix here -->
    <link rel="icon" href="assets/favicon_io/favicon-16x16.png" sizes="16x16" type="image/png">
    <!-- Fix here -->
    <!-- Fix here -->
    <link rel="apple-touch-icon" href="assets/favicon_io/apple-touch-icon.png" sizes="32x32" type="image/png">
    <!-- Fix here -->
    <!-- Fix here -->
</head>

<body>
    <header class="header">
        <a href="https://ad-system-lp.onrender.com/">
            <img src="/assets/general/logo-adsystem.svg" alt="Logo da Adsystem" id="logo--landing">
        </a>
    </header>

    <main>
        <section class="constructions">
            <div class="constructions__container">
                <figure>
                    <img src="/assets/engrenagem.svg" alt="Engrenagem cinza">
                </figure>
                <h1 class="constructions__text">Estamos trabalhando nesta funcionalidade</h1>
                <a href="https://ad-system-lp.onrender.com/"><button class="constructions__button">Menu Principal</button></a>
                <!--Adicionar href-->
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-image">
            <img id="logo-footer" src="/assets/general/logo-adsystem.svg" alt="logo Adsystem">
        </div>
        <div class="footer-media">
            <img src="/assets/icon-twitter.svg" alt="Logo do Twitter">
            <img src="/assets/icon-instagram.svg" alt="Logo do Instagram">
        </div>
    </footer>

    <script src="/scripts/btn-menu.js"></script>

</body>

</html>