<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/styles/testPage/styles.css">
    </head>

    <body>
        <div class="header">
            <h1 id="title-text">Teste da criação de base de dados dinâmica e de usuário</h1>
        </div>

        <div class="main">
            <div class="container">
                <div class="div-title">
                    <h2 id="div-title-text">Formulário</h2>
                </div>

                <form action="">
                    <div class="inputs">
                        <div class="input-group">
                            <h2 class="form-labels" style="display: inline;">Nome:</h2>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="input-group">
                            <h2 class="form-labels" style="display: inline;">Email:</h2>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="input-group">
                            <h2 class="form-labels" style="display: inline;">Nome da empresa:</h2>
                            <input type="text" name="name-enp" id="name_enp">
                        </div>
                    <div class="form-submit">
                        <div class="btn-submit"> 
                            <input type="submit" onclick="db.buildUser()" value="Create" id="submit" name="submit" class="btnsubmit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
    const db = {
        buildUser(){
            name = document.querySelector('#name').value
            email = document.querySelector('#email').value
            name_enp = document.querySelector('#name_enp').value

            axios.post('test/builduser', {name, email, name_enp}, {})
        }
    }
    </script>
</html>